{# app/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}{% endblock %}
        </title>
        <meta charset="UTF-8">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% block meta %}{% endblock %}
        {% block stylesheets %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('bundles/app/images/favicon.jpg') }}?reload">
        <link rel="icon" type="image/jpg" href="{{ asset('bundles/app/images/favicon.jpg') }}?reload">
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
